.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-creation-lock
*.log
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
**/android/**/local.properties
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/Pods/
**/ios/Runner.xcworkspace/
pubspec.lock
